# Data files - tracked by DVC, not Git
*.csv
*.zip
*.xlsx
*.parquet
MachineLearningRating_v3/

# Allow DVC pointer/metadata files
!*.dvc
!data/.gitignore

# Python environments & caches
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
ENV/
.env

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# IDE / Editor config
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
